
body {
}
#overlay {
 z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-opaque black */

/*    transition: opacity 0.1s ease-out;
*/}
    #overlay.flash {
        animation: flash 0.5s ease-out forwards;
        display: block;
        background: white;
    }
#contentWrapper {
    height: 100vh;
    background-image: url(./AS_assets/DS_sand.png);
}

    #content.shake_1 {
        animation: shake_1 0.2s ease-out forwards;
    }
    #content.shake_2 {
        animation: shake_2 0.3s ease-out forwards;
    }
    #content.shake_3 {
        animation: shake_3 0.4s ease-out forwards;
    }
.darkOverlay {
    transition: opacity 2s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgb(0,0,100);
    pointer-events: none;
    z-index: 8;
    mix-blend-mode: multiply; /* Enhances the effect on lighter backgrounds */
}
.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 3;
    transform-origin: center center;
    transition: transform 1s linear, top 1s linear, left 1s linear;
}
    .rain.lightRain {
        top: 0%;
        left: 0%;
        transform: rotate(0deg);
    }
    .rain.mediumRain {
        top: -10%;
        left: -10%;
        transform: rotate(-15deg);
    }
    .rain.heavyRain {
        top: -18%;
        left: -18%;
        transform: rotate(-30deg); 
    }

.raindrop {
    position: absolute;
    top: -10px;
    width: 2px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    animation: rainfall linear infinite;
}

@keyframes rainfall {
    to {
        transform: translateY(var(--rainFallHeight));
    }
}

#modal {
    user-select: none;
    z-index: 10;
    position: fixed;
    padding: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /*    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    max-width: 50%;
    top: 10%;
}

    #modal h2 {
        margin: 0;
    }

    #modal ul {
        list-style: none;
        padding: 0;
        margin: 0px;
    }

        #modal ul li:first-child {
            margin-top: -20px;
        }

    #modal li {
        margin: 5px 0;
    }

    #modal .buttonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }

.modalContainer {
    display: flex;
    flex-direction: column;
}
.greenButtonStyle {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    .greenButtonStyle:hover {
        background-color: #45a049; /* Darker Green */
    }
#startbutton {
    display: block;
    width: 75%;
    padding: 10px;
}
.menuTopBar {
    display: flex;
    justify-content:space-between;
}

#langbutton {
    margin: 0;
    padding: 10px;
}
/*#devDiff {
    width: fit-content;
    font-size: xx-small;
    border: none;
}*/
#input-container {
    margin: auto;
}
/**/
ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}

    ul li input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    ul li label {
        display: flex;
        width: 100%;
        padding-top: 20px;
    }

        ul li label span:first-child,
        ul li label span:nth-child(3) {
            flex: 0 0 10%;
            width: 20%;
            position: relative;
            font-weight: 300;
            font-size: 1.35em;
            padding: 8px 25px 25px 70px;
            height: 15px;
            z-index: 9;
            cursor: pointer;
            -webkit-transition: all 0.25s linear;
        }

        ul li label span {
            padding: 12px 0px 0px 0px;
            margin: 0px 0px;
            /*        -webkit-transition: all 0.25s linear;
*/
        }

    ul li:hover label {
        color: black
    }

    ul li .check {
        display: block;
        position: absolute;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 30px;
        left: 20px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
    }

    ul li:hover .check {
        border: 5px solid black;
    }

    ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 10px;
        width: 10px;
        top: 5px;
        left: 5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }

input[type=radio]:checked ~ .check {
    border: 5px solid #4CAF50;
}

    input[type=radio]:checked ~ .check::before {
        background: #4CAF50;
    }

input[type=radio]:checked ~ label {
    color: #4CAF50;
}
.multiKillBox {
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    margin: auto;
    font-weight: 900;
    position: fixed;
    /*    top: 25%;
*/
    top: 1%;
    left: 50%;
    z-index: 10;
}

#popupBox {
    pointer-events: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%); /*just centers*/
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    color: #333333;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 11;
    transition: opacity 0.2s ease-in-out;
}
#popupTitle {
    font-size: 60px;
}
#popupText {
    font-size: 30px;
}
.directionalFluidContainer {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-height: 400px) {
    .directionalFluidContainer {
        flex-direction: row;
    }

    #modal {
        max-height: 90%;
        max-width: 100%;
        overflow: scroll;
        top: 0%;
    }
}

@media only screen and (max-width: 600px) {
    #modal {
        max-height: 90%;
        max-width: 90%;
        overflow: scroll;
        top: 0%;
    }

/*    ul li label span:first-child,
    ul li label span:nth-child(3) {
        flex: 0 0 30%;
    }*/
}

.container {
    pointer-events: none;
    position: absolute;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.3); /* slightly transparent white */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* shadow effect */
    z-index: 1;
}

    .progress-container {
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        /*background-color: #f0f0f0;*/
        border-radius: 5px;
/*        margin-bottom: -8px;*/
    }
.leftContainer {
    display: flex;
    width: 50%;
}
.centerContainer {
    display: flex;
     width: 20%;
}
.progress-bar {
    width: 0%;
    height: 20px;
    /*    background-color: #4caf50;    */
    opacity: 0.8;
    background-color: red;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

    .progress-bar.full {
        width: 100%;
        background-color: gold;
        box-shadow: 0 0 15px 5px rgba(255, 223, 0, 0.6), 0 0 30px 10px rgba(255, 223, 0, 0.4);
        animation: pulse 1.5s infinite, shine 2s linear infinite;
        position: relative;
        overflow: hidden;
    }

        .progress-bar.full::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 200%;
            background: linear-gradient( to right, rgba(255, 223, 0, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 223, 0, 0.2) );
            animation: shine 2s linear infinite;
            pointer-events: none;
        }

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 15px 5px rgba(255, 223, 0, 0.6), 0 0 30px 10px rgba(255, 223, 0, 0.4);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px 7px rgba(255, 223, 0, 0.8), 0 0 40px 15px rgba(255, 223, 0, 0.6);
    }
}

@keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

/*    .progress-markers {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .progress-marker {
        position: relative;
    }

        .progress-marker::after {
            content: "";
            position: absolute;
            top: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 5px;
            background-color: black;
        }*/
.loader-container {
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader {
    opacity: 0.8;
    border: 50px solid #f3f4f6; /* Light border color */
    border-top: 50px solid #45a049;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation: rotate 2s linear infinite;
}

.rollWheel {
    animation: rotate 0.5s linear infinite, move-right 4s ease-out forwards;
    transition: opacity 6s ease-in-out
}
.throwWheel {
/*    animation: rotate 2s linear infinite, move-right 4s ease-out infinite;
*/    transition: opacity 6s ease-in-out
}


#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
    border-radius: 5px;
}
    #slider:hover {
        opacity: 1;
    }
    #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: grey;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 0 2px #000;
    }
    #slider::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: grey;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 0 2px #000;
    }
    #slider::-webkit-slider-runnable-track {
        background: #4CAF50;
        border-radius: 5px;
    }
    #slider::-moz-range-track {
        background: #4CAF50;
        border-radius: 5px;
    }
#sliderValue {
/*    margin-top: 10px;
    font-weight: bold;*/
}